<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>                 
    </span> Home - DocBook
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <!-- <span></span>Homeview
                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i> -->
            </li>
        </ul>
    </nav>
</div>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">DocBook - Getting Started</h4>
                <p class="card-description">
                    Create project documentation with <code>DocBook</code> - A tool for easy, fast and standard way of writing a great documentation
                </p>
                <button (click)="showToast('success', 'Toast', 'Awesome')" class="btn btn-primary">Show toaster</button>
            </div>
        </div>
    </div>
</div>